<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="objMathC" class="com.ved.diObjType.MathCheat"></bean>

	<bean id="std" class="com.ved.diObjType.Student">
		<property name="objMathCheat" ref="objMathC"></property>
	</bean>

</beans>       