<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="objMathC" class="com.ved.loose_coupling.MathCheat"></bean>
	<bean id="objScienceC" class="com.ved.loose_coupling.ScienceCheat"></bean>

	<bean id="std" class="com.ved.loose_coupling.Student">
		<property name="objCheat" ref="objScienceC"></property>
	</bean>

</beans>       